<!DOCTYPE html>
<html>
<head>
  <title>Collab - Home </title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style1.css"> <!-- load fontawesome -->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/fabric.min.js"></script>
    <script src="javascripts/jquery-min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/viewport.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="whiteboard">
    <div ui-view></div>
  <div id="notification" class="container">
    <% if (loginMessage.length > 0) { %>
    <div class="alert alert-danger">
    <%= loginMessage %>
  </div>
    <% } %>
    <% if (message.length > 0) { %>
    <div class="alert alert-danger">
    <%= message %>
  </div>
    <% } %>
    <% if (success.length > 0) { %>
    <div class="alert alert-success">
    <%= success %>
    </div>
    <% } %>
  </div>
</body>
</html>
