<!DOCTYPE html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="stylesheets/style.css"> <!-- load fontawesome -->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/fabric.min.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="whiteboard">
  <div class="container">
    <% if (loginMessage.length > 0) { %>
    <div class="alert alert-danger">
    <%= loginMessage %>
  </div>
    <% } %>
    <% if (failure.length > 0) { %>
    <div class="alert alert-danger">
    <%= failure %>
  </div>
    <% } %>
    <% if (success.length > 0) { %>
    <div class="alert alert-success">
    <%= success %>
    </div>
    <% } %>
  </div>
    <div ui-view></div>
</body>
</html>
