<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body ng-app="whiteboard">
  <div class="container" ng-controller="create_whiteboard">
    <%= user_profile.local.username %>
  </div>
</body>
</html>
