<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <% if (user) {%> 
      <div class="alert alert-success"><%= user.local.username %></div>
      <a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>Logout</a>
      <% } else { %>
    <form class="form-group" ng-submit="createWhiteboard()">
      <label>Title</label>
      <input type="text" class="form-control" ng-model="title" name="title">
      </br>
      <button class="btn btn-default" type="submit"/>
    </form>

    <% } %>

</div>
</body>
</html>
