
a {
  color: #00B7FF;
}

.board{
  background: white;
  transition: background 0.08s ease-in;
}

.board:hover{
  background: rgba(255,245,245,1);
}
.whiteboard{
  border:1px solid rgba(215,215,215,1);
  margin-left: 200px;
}

.taken {
  color: red;
  font-style:bold;
}

.users {
  font-size: 28px;
  text-align:center;
  height:40px;
  width:40px;
  color: white;
  background: orange;
  position:absolute;
  top: 0px;
  right: 15px;
}
.drawContainer{
  position:absolute;
  top: 150px;;
  margin-left:20px;
}

.pencilIcon {
  background: url('images/indicator.gif') left center no-repeat;
  padding-left: 15px;
}

.drawing {
  background-color: green;
}

.notDrawing {
  background-color: red;
}

.nottaken {
  color: green;
  font-style:bold;
}
