
a {
  color: #00B7FF;
}

.board{
  background: white;
  transition: background 0.08s ease-in;
}

.board:hover{
  background: rgba(255,245,245,1);
}

.taken {
  color: red;
  font-style:bold;
}

.nottaken {
  color: green;
  font-style:bold;
}
