<div ng-repeat="whiteboard in whiteboards">
  <div class="col-xs-6 col-md-6">
    <div class="holder">
      <div class="topBar">
        <p>{{ whiteboard.title }} 
        </p>
      </div>
      <div ng-click="board(whiteboard)" href="#/user/{{user.local.username}}/board/{{whiteboard.slug}}?unique_token={{whiteboard.unique_token}}" style="border-top:none;border-top-left-radius:0px;border-top-right-radius:0px;cursor:pointer;" class="thumbnail test">
        <img src="{{ whiteboard.img_url ? whiteboard.img_url : 'images/placeholder.png' }}" alt="thumb">
      </div>
      <div class="overlay">
        <div ng-if="!user.isAuthor">
          <button ng-if="!user.isAuthor" ng-click="cloneBoard(whiteboard)" class="btn btn-primary">Clone</button>
          <button ng-if="!user.isAuthor" ng-click="cloneBoard(whiteboard)" class="btn btn-primary">Request</button>
        </div>
        <div class="author" ng-if="user.isAuthor">
          <button ng-if="user.isAuthor" ng-click="deleteBoard(whiteboard.unique_token)" class="btn btn-danger" style="border-radius:0px;">Delete</button>
          <button class="btn btn-default" style="border:none;background-color:rgba(23,40,70,0.7);border-radius:0px;"  ng-click="deleteBoard(whiteboard.unique_token)">
            <span ng-if="user.isAuthor" style="color:white" class="glyphicon glyphicon-cog"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
