<div class="modal fade" id="board" tabindex="-1" role="dialog" aria-labelledby="boardLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id=""> {{ state == 'user' ? "Create" : "Share" }}</h5>
      </div>
      <div class="modal-body">
            <div style="width:80%;margin:0px auto;">
              <input ng-show="state == 'user'" style="width:100%;font-size:42px;font-weight:200;color:rgba(24,24,24,0.75);" type="text" ng-model="title" onclick="this.select()">
              </br>
              </br>
              <p>Share with others (e-mail/username)</p>
              <div class="share-chips-container" style="border:0.1em solid #f2f2f2;float:none;">
                <span class="chips" ng-repeat="email in emails track by $index" style="">
                  <span>{{email}}</span>
                  <span ng-click="delete(email)" class="glyphicon glyphicon-remove" style="cursor:pointer;font-size:12px;opacity:0.9;"></span>
                </span>
                <textarea key-change type="text" style="border:none;overflow:auto;outline:none;resize:none;height:30px;" placeholder="Add people here..." ng-model="model"></textarea>
              </div>
              <button ng-click="" class="customButton">Can edit only</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="action()" class="btn btn-warning btn-lg">{{ state == 'user' ? "create" : "share" }}</button>
      </div>
    </div>
  </div>
</div>
