<nav class="navbar navbar-default navbar-fixed-top" >
<div class="sub-nav">
  <a class="navbar-text" style="font-size:16px;padding:8px;">{{ user.local.username ? user.local.username : "Guest" }} <span ng-if="user.local.username" class="caret" style="cursor:pointer;"></span></a>
  <a ng-if="user.local.username" ng-click="logOut()" class="navbar-text logout" style="float:right;font-size:16px;">logout</a>
  <a ng-if="!user.local.username" class="navbar-text logout" href="#/login" style="float:right;font-size:16px;">login</a>
</div>
</nav>
<div class="container">
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Node Authentication</h1>
    <p>Login or Register with:</p>
    <a href="#/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
  </div>
</div>
