<div id="tes1" style="position:absolute;bottom:150px;width:500px;margin:0px auto;left:50%;margin-left: -250px;text-align:center;display:none;z-index:5;">
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p></p>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Send clone request</h4>
      </div>
      <div class="modal-body">
        <p>This board is not public. Send request to {{ user.local.username }} ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="requestAuthor()" type="button" class="btn btn-primary">Request</button>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <div ng-controller="home">
    <div class="page-header">
      <h1>
        <span ng-show="user.requests.length" ng-if="user.isAuthor" ng-click="showRequests()" class="badge" style="cursor:pointer;background-color:rgb(230,50,50);display:inline-block;vertical-align:middle">{{user.requests.length}}</span>
        {{user.local.username}}  
        <a ng-if="user.isAuthor" href="#/createboard">
          <button class="btn">create</button>
        </a>
      </h1>
    <p ng-if="!user.isAuthor" class="log">logged in as {{ user.theUser ? user.theUser : "a guest" }} <a ng-if="user.theUser" ng-click="logOut()"> (logout)</a></p>
    </div>
    <h1 ng-show="empty">
      Empty!
    </h1>
    <div ng-include="template">
    </div>
  </div>
</div>
