<div ng-include="navbar">
</div>

<div id="tes1" style="position:absolute;bottom:150px;width:500px;margin:0px auto;left:50%;margin-left: -250px;text-align:center;display:none;z-index:10;">
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p></p>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Send clone request</h4>
      </div>
      <div class="modal-body">
        <p>This board is not public. Send request to {{ user.local.username }} ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="requestAuthor()" type="button" class="btn btn-primary">Request</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="board" tabindex="-1" role="dialog" aria-labelledby="boardLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Create board</h4>
      </div>
      <div class="modal-body">
          <label>Title</label>
          <input type="text" ng-model="title">
          </br>
          </br>
            <div style="width:80%;margin:0px auto;">
              <p>Share with others</p>
              <div class="share-chips-container" style="border:0.1em solid #f2f2f2;float:none;">
                <span ng-repeat="email in emails track by $index" style="">
                  <span style="padding-top:5px;">{{email}}</span>
                  <span ng-click="delete(email)" class="glyphicon glyphicon-remove" style="font-size:12px;opacity:0.9;"></span>
                </span>
                <textarea type="text" style="border:none;overflow:auto;outline:none;resize:none;height:30px;" placeholder="Add people here..." ng-model="email"></textarea>
              </div>
              <button style="overflow:none;">Test</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="createBoard()" class="btn btn-warning btn-lg">create</button>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <div ng-controller="home">
    <div class="page-header">
      <h1 style="font-weight:100">
        <span ng-show="user.requests.length" ng-if="user.isAuthor" ng-click="showRequests()" class="badge" style="cursor:pointer;background-color:rgb(230,50,50);display:inline-block;vertical-align:middle">{{user.requests.length}}</span>
        {{user.local.username}}  
        <a ng-if="user.isAuthor" ng-click="showBoardForm()">
          <button class="btn" style="color:white;font-size:12px;padding:3px;background-color:rgb(0,200,200);border:0px;">create</button>
        </a>
      </h1>
    </div>
    <h1 ng-show="empty">
      Empty!
    </h1>
    <div ng-include="template">
    </div>
  </div>
</div>
