<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow:2px 0px 1px 0 rgba(0,0,0,0.5)">
  <div class="sub-nav">
    <a ng-href="#/user/{{user.theUser}}" class="navbar-text" style="font-size:16px;padding:8px;">{{ user.theUser ? user.theUser : "Guest"}} <span ng-if="user.theUser" class="caret" style="cursor:pointer;"></span></a>
    <a ng-if="user.theUser" ng-click="logOut()" class="navbar-text logout" style="float:right;font-size:16px;">{{ user.theUser ? "logout" : "login" }}</a>
    <a ng-if="!user.theUser" class="navbar-text logout" href="#/login" style="float:right;font-size:16px;">{{ user.theUser ? "logout" : "login" }}</a>
  </div>
  <div style="width:18%;margin:0px auto;">
    <div class="navbar-brand">
      <img height=40 src="images/board1.png"/>
    </div>
    <p class="navbar-text" style="font-size:16px;padding:8px;margin-left:-10px;">Whiteboard</p>
  </div>
</nav>
<div id="tes1" style="position:absolute;bottom:150px;width:500px;margin:0px auto;left:50%;margin-left: -250px;text-align:center;display:none;z-index:10;">
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p></p>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Send clone request</h4>
      </div>
      <div class="modal-body">
        <p>This board is not public. Send request to {{ user.local.username }} ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="requestAuthor()" type="button" class="btn btn-primary">Request</button>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-6 col-sm-offset-3">
  <div ng-controller="home">
    <div class="page-header">
      <h1 style="font-weight:100">
        <span ng-show="user.requests.length" ng-if="user.isAuthor" ng-click="showRequests()" class="badge" style="cursor:pointer;background-color:rgb(230,50,50);display:inline-block;vertical-align:middle">{{user.requests.length}}</span>
        {{user.local.username}}  
        <a ng-if="user.isAuthor" href="#/createboard">
          <button class="btn" style="color:white;font-size:12px;padding:3px;background-color:rgb(0,200,200);border:0px;">create</button>
        </a>
      </h1>
    </div>
    <h1 ng-show="empty">
      Empty!
    </h1>
    <div ng-include="template">
    </div>
  </div>
</div>
