<div class="top">
  <div class="users" ng-repeat="user in users">
    {{user | first}}
  </div>
</div>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
    <h1>{{board.title}}</h1>
    </hr>
  </div>
</div>
<canvas id='c' height="700px" width="1500px" class="whiteboard"></canvas>
<div class="drawContainer">
  <button class="btn btn-default" ng-click="changeMode()">
    <span class="glyphicon glyphicon-pencil"></span>
    Toggle drawmode
  </button>
  </br>
  </br>
  <label for="drawing-color">Drawing color: </label>
  <input type="color" ng-model="color" id="drawing-color" style="float:right;"/>
  </br>
  </br>
  <label for="shape-stroke">Drawing Stroke Width</label>
  </br>
  <input ng-model="drawingStrokeWidth" type="range" min="1" max="10" value="1" id="shape-stroke">
  {{strokeWidth || 1}}

  </br>
  </br>
  <strong>
    Shapes
  </strong>
  </br>
  <button ng-click="addShape('rect')" class="btn btn-default">
    <img src="images/square.png"/>
  </button>
  <button ng-click="addShape('triangle')" class="btn btn-default">
    <div id="triangle"></div>
  </button>
  <button ng-click="addShape('circle')" class="btn btn-default">
    <img src="images/circle.png"/>
  </button>
  </br>
  </br>

  <label for="shape-stroke">Stroke Width</label>
  </br>
  <input ng-model="strokeWidth" type="range" min="1" max="10" value="1" id="shape-stroke">
  {{strokeWidth || 1}}

  </br>
  </br>
  <label for="shape-stroke-color">Stroke Color: </label>
  <input ng-model="strokeColor" type="color" id="shape-stroke-color" style="float:right;">

  </br>
  </br>
  <label for="shape-stroke-color">Fill Color: </label>
  <input ng-model="fillColor" type="color" id="shape-stroke-color" style="float:right;">

</div>
