<div class="users" ng-repeat="user in users">
  {{user | first}}
</div>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
    <h1>{{board.title}}</h1>
    </hr>
  </div>
</div>
<canvas id='c' height="700px" width="1500px" class="whiteboard"></canvas>
<div class="drawContainer">
  <button class="btn btn-default" ng-click="changeMode()">
    <span class="glyphicon glyphicon-pencil"></span>
    Toggle drawmode
  </button>
  </br>
  </br>
  Shapes
  </br>
  <button class="btn btn-default">
    <img src="images/square.png"/>
  </button>
  <button class="btn btn-default">
    <div id="triangle"></div>
  </button>
  <button class="btn btn-default">
    <img src="images/circle.png"/>
  </button>
  </br>
  </br>
  <label for="shape-stroke">Stroke Width</label>
  </br>
  <input ng-model="strokeWidth" type="range" min="1" max="10" value="1" id="shape-stroke">
  {{strokeWidth || 1}}

</div>
